<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Get the header from the template.html file. -->
    <div th:replace="~{template :: headerFragment}"></div>

    <!-- Title of the html page -->
    <title th:text="#{resultTitle}">Results</title>

    <!-- Style sheet needed for the home / upload page -->
    <link th:rel="stylesheet" type="text/css" href="CSSFiles/ResultStyling.css">
    <link th:rel="stylesheet" type="text/css" href="CSSFiles/NavigationBarStyling.css">
</head>
<body>
    <!-- The navigation bar from the template.html file -->
    <div th:replace="~{template :: navigationFragment}">Navigation bar</div>


    <div class="container">
        <div class="chart-containerTop">
            <a th:text="${message}" style="margin: 30px">__Message__</a>
        </div>

        <!-- There is a special div for the first container, because it needs some specific styling. -->
        <div class="chart-container">

            <!-- Button, when clicked the canvas plot will be showed. -->
            <button th:text="#{heartRateText}" class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#heartRate" aria-expanded="false" aria-controls="collapseExample">
                Heart Rate Chart
            </button>

            <!-- Button, when clicked the canvas plot will be showed. -->
            <button th:text="#{restingHeartRateText}" class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#restingHeartRate" aria-expanded="false" aria-controls="collapseExample">
                Heart Rate Chart
            </button>

            <!-- Button, when clicked the canvas plot will be showed. -->
            <button th:text="#{caloriesText}" class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#calories" aria-expanded="false" aria-controls="collapseExample">
                Heart Rate Chart
            </button>

            <!-- Button, when clicked the canvas plot will be showed. -->
            <button th:text="#{distanceText}" class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#distance" aria-expanded="false" aria-controls="collapseExample">
                Heart Rate Chart
            </button>

            <!-- Button, when clicked the canvas plot will be showed. -->
            <button th:text="#{altitudeText}" class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#altitude" aria-expanded="false" aria-controls="collapseExample">
                Heart Rate Chart
            </button>

            <!-- Button, when clicked the canvas plot will be showed. -->
            <button th:text="#{stepsText}" class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#steps" aria-expanded="false" aria-controls="collapseExample">
                Heart Rate Chart
            </button>

            <!-- Button, when clicked the canvas plot will be showed. -->
            <button th:text="#{activityText}" class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#activity" aria-expanded="false" aria-controls="collapseExample">
                Heart Rate Chart
            </button>

            <!-- Div that shows the heart rate chart, at first it is not shown. Only when the user clicks the button -->
            <div class="collapse" id="heartRate">
                <div class="card card-body heartRateChart">
                    <canvas  id="heartRateChart">Heart Rate Chart</canvas>
                </div>
            </div>

            <!-- Div that shows the resting heart rate chart, at first it is not shown. Only when the user clicks the button -->
            <div class="collapse" id="restingHeartRate">
                <div class="card card-body heartRateChart">
                    <canvas  id="restingHeartRateChart">Resting Heart Rate Chart</canvas>
                </div>
            </div>

            <!-- Div that shows the calories chart, at first it is not shown. Only when the user clicks the button -->
            <div class="collapse" id="calories">
                <div class="card card-body heartRateChart">
                    <canvas id="caloriesChart" style="position: relative;">Calories Chart</canvas>-->
                </div>
            </div>

            <!-- Div that shows the distance chart, at first it is not shown. Only when the user clicks the button -->
            <div class="collapse" id="distance">
                <div class="card card-body heartRateChart">
                    <canvas id="distanceChart" style="position: relative;">Distance Chart</canvas>-->
                </div>
            </div>

            <!-- Div that shows the altitude chart, at first it is not shown. Only when the user clicks the button -->
            <div class="collapse" id="altitude">
                <div class="card card-body heartRateChart">
                    <canvas id="altitudeChart" style="position: relative;">Altitude Chart</canvas>-->
                </div>
            </div>

            <!-- Div that shows the steps chart, at first it is not shown. Only when the user clicks the button -->
            <div class="collapse" id="steps">
                <div class="card card-body heartRateChart">
                    <canvas id="stepsChart" style="position: relative;">Altitude Chart</canvas>-->
                </div>
            </div>

            <!-- Div that shows the activity chart, at first it is not shown. Only when the user clicks the button -->
            <div class="collapse" id="activity">
                <div class="card card-body heartRateChart">
                    <canvas id="activityChart" style="position: relative;">Altitude Chart</canvas>-->
                </div>
            </div>

        </div>
    </div>

    <!-- Import plugins needed, because components need JavaScript to function. -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
