<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Header is used across multiple pages. -->
<head th:fragment="headerFragment">
    <!-- Required meta tags, viewport meta is necessary for mobile devices. -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Make use of javascript files. -->
    <script th:src="@{/js/Chart.bundle.js}"></script>
    <script th:src="@{/js/results.charts.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4"></script>
</head>
<body>
    <!-- Make a navigation bar using bootstrap. -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light " th:fragment="navigationFragment" role="navigation">

        <span class="navbar-Brand">Epic Fitbit</span>

        <!-- Whenever the screen size is on mobile format shrink the navigation bar and its items. Then the
         user can press a dropdown button. -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- The items in the navigation bar that represent a html page. -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Unordered list of items that hold a image and a text with a link to the representing page. -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/upload">
                        <img src="Icons/IconHome.png" width="50px" height="50px">
                    </a>
                    <a th:class="navbar-item" href="/upload" th:text="#{navHome}">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/resultPage">
                        <img src="Icons/ResultIcon.png" width="50px" height="50px">
                    </a>
                    <a class="navbar-Result" href="/resultPage" th:text="#{navResult}">Result</a>
                </li>
            </ul>
        </div>

    </nav>


</body>
</html>