<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Get the header from the template.html file. -->
    <div th:replace="~{template :: headerFragment}"></div>

    <title th:text="#{uploadTitle}">Title</title>

    <!-- Style sheet needed for the home / upload page -->
    <link th:rel="stylesheet" type="text/css" href="CSSFiles/NavigationBarStyling.css">
    <link th:rel="stylesheet" type="text/css" href="CSSFiles/UploadStyling.css">
</head>
<body>
    <!-- The navigation bar from the template.html file -->
    <div th:replace="~{template :: navigationFragment}"></div>

    <div class="container">
        <h3>Upload fitbit user data to analyse</h3>


        <ul class="list-unstyled">
            <li>Instructions:</li>
            <ul class="instructionText">
                <li>1. Go to the official <a href="https://www.fitbit.com" target="_blank">Fitbit website</a>.</li>
                <li>2. Use youre username and password to log in.</li>
                <li>3. Click on the View Setting button in the top right corner.</li>
                <li>4. Click on Settings and then on Data Export.</li>
                <li>5. Scroll down and click on Request Data under Export Your Account Archive.</li>
                <br>
                <li>Note: It may take some time to retrieve your data, whenever the data is ready you will be receive an email when the data is available to download. When the data is ready a download button will appear.</li>
                <br>
                <li>6. Download youre Fitbit data and click the Browse button below the instructions, choose your data and click Upload File (Make sure it is a ZIP extension).</li>
                <li>7. When youre data is processed, you will be redirected to the Results page. </li>
            </ul>
        </ul>
        <form action = "upload" method = "post" enctype = "multipart/form-data">
            <input type = "file" name = "file" size = "50" />
            <input type = "submit" value = "Upload File" />
        </form>
        <a th:text="${message}">_ERRORMESSAGE_</a>
    </div>

    <!-- Import plugins needed, because components need JavaScript to function. -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>