.navbar {
    /* The width of the total header. */
    width: 75%;

    height: auto;
    margin: auto;

    border: 2px solid #333333;
    border-radius: 25px;

    background-color: #ecebeb;

    /* When scrolling the navigation bar will stick to the top of the screen.*/

    /* Adjust text of the items */
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway',sans-serif;

}

.navbar-Brand {
    margin-right: 100px;
}

.navbar-nav {
    width: 100%;
}

.navbar li {
    margin-right: 25px;
}

.navbar li a {
    text-decoration: none;
    color: #333333;
}
.navbar-item.active {
    color: #0d98bf;
}