body {
    /*  */
    background-color: #b8ecfa;
}



.chart-containerTop {
    width: 100%;

    height: auto;
    margin: 85px auto auto;

    border: 2px solid #333333;
    border-radius: 25px;

    background-color: #ecebeb;

    /* Adjust text of the items */
    color: #333333;
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
}

.chart-container {
    width: 100%;

    height: auto;
    margin: 15px auto auto;

    border: 2px solid #333333;
    border-radius: 25px;

    background-color: #ecebeb;

    /* Adjust text of the items */
    color: #333333;
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
}

.btn-outline-dark {
    margin: 10px;

    border: 2px solid black;
    border-radius: 25px;
}

.heartRateChart {
    margin-top: 5px;
    border-radius: 25px;
}

.instructionText {
    list-style-type: none;
}



