body {
    /*  */
    background-color: #b8ecfa;
}

.container {
    width: 75%;

    padding: 10px;
    margin-top: 80px;

    border: 2px solid #333333;
    border-radius: 25px;

    background-color: #ecebeb;

    /* Adjust text of the items */
    color: #333333;
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
}

.instructionText {
    list-style-type: none;
}
